* {
  margin: 0;
  padding: 0;
}

#game-area {
  background-color: green;
  width: 800px;
  height: 600px;
  margin: auto;
}

#char {
  width: 60px;
  height: 58px;
  position: relative;
  top: 400px;
  left: 360px;
}

#item {
  width: 44px;
  height: 50px;
  position: relative;
  bottom: 55px;
}