* {
  margin: 0;
  padding: 0;
}

body {}

#game-area {
  width: 960px;
  height: 476px;
  background-image: url('img/background.jpg');
  margin: auto;
}

#char {
  width: 60px;
  height: 58px;
  position: relative;
  top: 360px;
  left: 360px;
}

#item {
  width: 44px;
  height: 50px;
  position: relative;
  bottom: 55px;
}