* {
  margin: 0;
  padding: 0;
}

#move-area {
  background-color: green;
  width: 800px;
  height: 600px;
  margin: auto;
}

#game-instructions {
  padding-top: 50px;
  text-align: center;
}

#char {
  width: 60px;
  height: 58px;
  position: relative;
  top: 400px;
  left: 360px;
}